

{% comment %} <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2"> {% endcomment %}
<div class="swiper slider">
  <div class="swiper-wrapper">
    {% for image in product.images %} 
      <div class="swiper-slide twcss-relative">
        {{ image.src | image_url: width: 420 | image_tag: class: "twcss-w-full twcss-h-full twcss-object-cover twcss-object-center" }}
      </div>
    {% endfor %}
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
<div class="swiper thumbs">
  <div class="swiper-wrapper">
    {% for image in product.images %} 
      <div class="swiper-slide twcss-transition-opacity twcss-duration-150 ">
        {{ image.src | image_url: width: 180 | image_tag: class: "twcss-w-full" }}
      </div>
    {% endfor %}
  </div>
</div>