<div class="swiper slider twcss-bg-neutral-700">
  <div class="swiper-wrapper">
    {% for image in product.images %} 
      <div class="swiper-slide twcss-relative">
        {{ image.src | image_url: width: 420 | image_tag: class: "twcss-w-full twcss-h-full twcss-object-contain twcss-object-center" }}
      </div>
    {% endfor %}
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
<div class="swiper thumbs">
  <div class="swiper-wrapper">
    {% for image in product.images %} 
      <div class="swiper-slide twcss-transition-opacity twcss-duration-150">
        <figure class="twcss-relative twcss-W-full twcss-aspect-[0.8/1]">
          {{ image.src | image_url: width: 180 | image_tag: class: "twcss-w-full twcss-h-full twcss-object-COVER twcss-object-center" }}
        </figure>
      </div>
    {% endfor %}
  </div>
</div>