<div class="gallery">                
  <div class="swiper gallery-slider">
    <div class="swiper-wrapper">
      {% for image in product.images %} 
        <div class="swiper-slide">
          {{ image.src | image_url: width: 770, height: 974 | image_tag }}
        </div>
      {% endfor %}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <div class="swiper gallery-thumbs">
    <div class="swiper-wrapper">
      {% for image in product.images %} 
      <div class="swiper-slide">
        {{ image.src | image_url: width: 770, height: 974 | image_tag: class: "twcss-relative twcss-w-full twcss-h-full twcss-object-cover twcss-object-center"}}
      </div>
      {% endfor %}
    </div>
  </div>
</div>