<section class="twcss-bg-black twcss-flex twcss-items-center twcss-justify-center twcss-h-screen twcss-overflow-hidden">
  
  <div class="twcss-relative">
    <h2 class="twcss-text-white twcss-text-center twcss-uppercase twcss-text-[10vw] twcss-w-9/12 twcss-mx-auto twcss-leading-[0.7]">
      <span class="twcss-font-minionpro twcss-italic">Pasión</span>
      <span class="twcss-font-novecento">por la belleza</span>
      <span class="twcss-font-minionpro twcss-italic">y dedicación</span>
      <span class="twcss-font-novecento">pura</span>
    </h2>
  </div>
  
</section>
{% schema %}
  {
    "name": "about-hero",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [],
    "presets": [
      {
        "name": "about-hero"
      }
    ]
  }
{% endschema %}
{% javascript %}
(function () {
  document.addEventListener('DOMContentLoaded', function() {
    gsap.registerPlugin(ScrollTrigger);
    let tl = gsap.timeline({
      // yes, we can add it to an entire timeline!
      scrollTrigger: {
        trigger: '#hero-video',
        pin: true,
        start: 'top',
        end: 'bottom',
        scrub: 3,
      }
    });

    tl.from('#video-background', { y: "100vh", });
  });
})();
{% endjavascript %}