<section id="hero-video" class="twcss-relative twcss-flex twcss-items-center twcss-justify-center twcss-w-full twcss-overflow-hidden twcss-bg-black twcss-h-screen">
  {%- if section.settings.video %}{{ section.settings.video | video_tag: autoplay: true, loop: true, muted: true, controls: false, id: "video-background", class: "twcss-absolute twcss-min-w-full twcss-min-h-full twcss-max-w-none twcss-pointer-events-none" }}{%- endif -%}
  <div class="twcss-relative">
    <h2 class="twcss-text-white twcss-text-center twcss-uppercase twcss-text-[10vw] lg:twcss-w-9/12 lg:twcss-mx-auto twcss-leading-[0.7] twcss-pointer-events-none">
    {% for block in section.blocks %}
    <span  class="twcss-whitespace-nowrap twcss-font-{{ block.settings.fontfamily }} {% if block.settings.italic %} twcss-italic{% endif %} {% if block.settings.blur %} twcss-blur-[0.25vw]{% endif %}">{{ block.settings.text }}</span>
    {% endfor %}
    </h2>
  </div>
</section>
{% schema %}
  {
    "name": "Hero",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "video",
        "id": "video",
        "label": "Hero video"
      }
    ],
    "blocks": [
      {
        "name": "Title",
        "type": "title",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "select",
            "id": "fontfamily",
            "options": [
              {
                "value": "minionpro",
                "label": "Minion Pro"
              },
              {
                "value": "novecento",
                "label": "Novecento"
              }
            ],
            "default": "minionpro",
            "label": "Font Family"
          },
          {
            "type": "checkbox",
            "id": "italic",
            "label": "Italics",
            "default": false
          }
          ,
          {
            "type": "checkbox",
            "id": "blur",
            "label": "Blur Effect",
            "default": false
          }
        ]
      }
    ]
  }
{% endschema %}
{% style %}
#hero-video {
  cursor: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2248%22%20height%3D%2248%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ccircle%20cx%3D%228%22%20cy%3D%228%22%20r%3D%224%22%20fill%3D%22%23ffffff%22%2F%3E%3C%2Fsvg%3E') 16 16, auto;
}
{% endstyle %}