<section class="twcss-bg-black twcss-relative twcss-aspect-[1.8/1]">
  <div class="twcss-w-10/12 twcss-max-w-[1120px] twcss-mx-auto">
    <h2 class="twcss-font-bebasneue twcss-uppercase twcss-text-[32px] twcss-leading-none">Impulsamos tu marca</h2>
    
  </div>
</section>
{% schema %}
  {
    "name": "impulsamos-tu-marca",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [],
    "presets": [
      {
        "name": "impulsamos-tu-marca"
      }
    ]
  }
{% endschema %}