<section id="diseno-personalizado" class="twcss-relative twcss-flex twcss-items-center twcss-justify-center twcss-w-full twcss-pt-40 twcss-pb-24 lg:twcss-py-0 lg:twcss-h-screen twcss-bg-black">  
  <div class="lg:twcss-w-10/12 twcss-max-w-[1120px] twcss-mx-auto twcss-py-24 lg:twcss-py-0">
    {{ section.settings.image_mobile |  image_url: width: 900 | image_tag: class: "lg:twcss-hidden twcss-w-full"}}
    {{ section.settings.image_desktop |  image_url: width: 1280 | image_tag: class: "twcss-hidden lg:twcss-block twcss-w-full"}}
  </div>
</section>
{% schema %}
  {
    "name": "Diseño Personalizado",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Mobile Image"
      },
      {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Desktop Image"
      }
    ]
  }
{% endschema %}

{% javascript %} 
  (function () {
    document.addEventListener('DOMContentLoaded', function() {
      const links = document.querySelectorAll('a[href^="#"]');
      for (const link of links) {
        link.addEventListener('click', function(event) {
          event.preventDefault();
          const targetId = this.getAttribute('href');
          const targetElement = document.querySelector(targetId);
          if (targetElement) {
            window.scrollTo({
              top: targetElement.offsetTop,
              behavior: 'smooth'
            });
          }
        });
      }
    });
  })();
  {% endjavascript %}