<section class="twcss-relative twcss-flex twcss-items-center twcss-justify-center twcss-bg-black twcss-aspect-[1.8/1]">  
  <div class="twcss-w-10/12 twcss-max-w-[1120px] twcss-mx-auto">
    <ol class="twcss-list-decimal twcss-grid twcss-grid-cols-12 twcss-text-white twcss-gap-y-16 twcss-leading-none">
      <li class="marker:twcss-text-7xl marker:twcss-absolute marker:twcss-top-0 twcss-col-span-4 twcss-col-start-3">
        <p><span class="twcss-text-5xl">Acercamiento a tu marca</span> una llamada, un zoom o una visita al estudio</p>
      </li>
      <li class="marker:twcss-text-7xl marker:twcss-absolute marker:twcss-top-0 twcss-col-span-4 twcss-col-start-8">
        <p><span class="twcss-text-5xl">Recaudamos uinformación</span> para entender tus necesidades</p>
      </li>
      <li class="marker:twcss-text-7xl marker:twcss-absolute marker:twcss-top-0 twcss-col-span-4 twcss-col-start-9 twcss-row-start-2">
        <p><span class="twcss-text-5xl">Pagas un seguro de diseño de $1,450.00</span> para generarte un montón de ideas que se adapten a lo que necesitas.</p>
        <p><small>*Ese monto se abonará posteriormente a tu proyecto</small></p>
      </li>
      <li class="marker:twcss-text-7xl marker:twcss-absolute marker:twcss-top-0 twcss-col-span-4 twcss-col-start-4 twcss-row-start-2 -twcss-translate-x-20">
        <p><span class="twcss-text-5xl">Anticipo del 50% para poner manos a la obra</span> una vez que te enamoraste de las propuestas</p>
      </li>
      <li class="marker:twcss-text-7xl marker:twcss-absolute marker:twcss-top-0 twcss-col-span-3 twcss-col-start-4 twcss-row-start-3">
        <p><span class="twcss-text-5xl">Empezamos a materializar las ideas</span> en nuestro estudio con ayuda de artesanos y un sinfin de herramientas</p>
      </li>
      <li class="marker:twcss-text-7xl marker:twcss-absolute marker:twcss-top-0 twcss-col-span-4 twcss-col-start-9 twcss-row-start-3">
        <p><span class="twcss-text-5xl">entregamos algo increíble</span> que te ayudará a posicionar tu marca, incrementar ventas o simplemente hacer que tus clientes vivan una experiencia inolvidable.</p>
      </li>
    </ol>
    <h2 class="twcss-font-bebasneue twcss-uppercase twcss-text-[64px] twcss-leading-none twcss-text-white twcss-w-1/4 twcss-break-keep">¿Quieres un diseño personalizado?</h2>

  </div>
</section>
{% schema %}
  {
    "name": "diseno-personalizado",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [],
    "presets": [
      {
        "name": "diseno-personalizado"
      }
    ]
  }
{% endschema %}