<section id="stacked-at-scroll" class="twcss-relative twcss-bg-black twcss-aspect-[1.8/1]">  
  <div class="stacked-1 twcss-absolute twcss-w-full twcss-top-0 twcss-py-16">
    <div class="twcss-w-10/12 twcss-max-w-[1120px] twcss-mx-auto">
      <h2 class="twcss-font-bebasneue twcss-uppercase twcss-text-[32px] twcss-text-white twcss-leading-none">IMPULSAMOS TU MARCA,</h2>
    </div>
  </div>
  <div class="stacked-2 twcss-absolute twcss-w-full twcss-top-0 twcss-py-16">
    <div class="twcss-w-10/12 twcss-max-w-[1120px] twcss-mx-auto">
      <h2 class="twcss-font-bebasneue twcss-uppercase twcss-text-[32px] twcss-text-white twcss-leading-none">PROPONEMOS SOLUCIONES,</h2>
    </div>
  </div>
  <div class="stacked-3 twcss-absolute twcss-w-full twcss-top-0 twcss-py-16">
    <div class="twcss-w-10/12 twcss-max-w-[1120px] twcss-mx-auto">
      <h2 class="twcss-font-bebasneue twcss-uppercase twcss-text-[32px] twcss-text-white twcss-leading-none">GENERAMOS EMOCIONES.</h2>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "impulsamos-tu-marca",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [],
    "presets": [
      {
        "name": "impulsamos-tu-marca"
      }
    ]
  }
{% endschema %}
{% javascript %} 
(function () {
  document.addEventListener('DOMContentLoaded', function() {
    gsap.registerPlugin(ScrollTrigger);
    let tl = gsap.timeline({
      // yes, we can add it to an entire timeline!
      scrollTrigger: {
          trigger: '#stacked-at-scroll',
          pin: true,
          start: 'top top', // when the top of the trigger hits the top of the viewport
          end: 'bottom', // end after scrolling 500px beyond the start
          scrub: 1, // smooth scrubbing, takes 1 second to "catch up" to the scrollbar
          
      }
    });

    tl.from('.stacked-1', { y: "100vh" })
      .from('.stacked-2', { y: "100vh" })
      .from('.stacked-3', { y: "100vh" })


    // ScrollTrigger.create({
    //   trigger: "#orange",
    //   start: "top top", 
    //   end: "bottom 150px",
    //   pin: "#orange-content"
    // });

    // ScrollTrigger.create({
    //   trigger: "#red",
    //   start: "top center", 
    //   end: "+=200", // 200px past the start 
    //   pin: "#red-content"
    // });
  });
})();


{% endjavascript %}