<section>
  <div class="twcss-w-10/12 twcss-max-w-[1120px] twcss-mx-auto">
    <div class="twcss-py-16 twcss-space-y-16">
      <h2 class="twcss-font-bebasneue twcss-uppercase twcss-text-[32px] twcss-leading-none">Conformado por un equipo de diseñadores industriales, Tarareo Estudio se enfoca en materializar todo aquello que pueda ser imaginado para crear productos utilitarios que impulsen tu marca, creen experiencias y propongan soluciones.</h2>
      <div class="twcss-grid twcss-grid-cols-4 twcss-grid-rows-3 twcss-gap-10">
        <div class="twcss-row-span-2 twcss-bg-neutral-500">
        </div>
        <div class="twcss-bg-neutral-500 twcss-aspect-square">
          {% comment %} <div class="twcss-aspect-square">
  
          </div> {% endcomment %}
        </div>
        <div class="twcss-col-span-2 twcss-bg-neutral-500">
        </div>
        <div class="twcss-row-start-2 twcss-col-start-2 twcss-bg-neutral-500">
        </div>
        <div class="twcss-bg-neutral-500 twcss-aspect-square">
          {% comment %} <div class="">
  
          </div> {% endcomment %}
        </div>
        <div class="twcss-row-span-2 twcss-bg-neutral-500">
          
        </div>
        <div class="twcss-bg-neutral-500 twcss-aspect-square">
          {% comment %} <div class="twcss-aspect-square ">
  
          </div> {% endcomment %}
        </div>
        <div class="twcss-col-span-2 twcss-bg-neutral-500">
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "about",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [],
    "presets": [
      {
        "name": "about"
      }
    ]
  }
{% endschema %}