<section class="twcss-bg-black twcss-flex twcss-items-center twcss-justify-center twcss-aspect-video">
  <div>
    <h2 class="twcss-text-white twcss-text-center twcss-uppercase twcss-text-[10vw] twcss-w-9/12 twcss-mx-auto twcss-leading-[0.7]">
      <span class="twcss-font-minionpro">Keep</span>
      <span class="twcss-font-novecento">the</span>
      <span class="twcss-font-novecento">party</span>
      <span class="twcss-font-minionpro">going</span>
    </h2>
  </div>
</section>
{% schema %}
  {
    "name": "t:sections.home-hero.name",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [],
    "presets": [
      {
        "name": "t:sections.home-hero.presets.name"
      }
    ]
  }
{% endschema %}