<section id="tooltip-section" class="twcss-relative">
  <div class="twcss-w-10/12 twcss-max-w-[1120px] twcss-mx-auto">
    <div class="twcss-py-16">
      {% comment %} <h2 class="twcss-font-bebasneue twcss-text-black twcss-uppercase twcss-text-[24px] lg:twcss-text-[32px] twcss-leading-none">{{ section.settings.content }}</h2> {% endcomment %}
      <div class="twcss-grid twcss-grid-cols-2 twcss-grid-rows-6 twcss-gap-10 lg:twcss-grid-cols-4 lg:twcss-grid-rows-3">
        {%- assign block_classnames = "twcss-row-span-2,twcss-aspect-square,twcss-col-span-2,twcss-row-start-2 twcss-col-start-2,twcss-aspect-square,twcss-row-span-2,twcss-aspect-square,twcss-col-span-2" | split: "," -%}
        {% for block in section.blocks %}
        <div class="about-item twcss-relative {{ block_classnames[forloop.index0] }}">
          {{ block.settings.image | image_url: width: 512 | image_tag: class: "twcss-absolute twcss-w-full twcss-h-full twcss-top-0 twcss-right-0 twcss-bottom-0 twcss-left-0  twcss-object-cover twcss-object-center" }}
          <span class="tooltip twcss-bg-[#FFE500] twcss-transition-opacity twcss-duration-300 twcss-font-bebasneue twcss-text-black twcss-uppercase twcss-text-[32px] twcss-leading-none">{{ block.settings.text }}</span>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "About",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "max_blocks": 8,
    "blocks": [
      {
        "name": "Title",
        "type": "title",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Marca"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}
{% style %}
  .about-item:hover .tooltip {
    opacity: 1;
  }
  .tooltip {
    opacity: 0;
    margin-left: 28px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
  }
{% endstyle %}
{% javascript %}
(function () {
  document.addEventListener('DOMContentLoaded', function() {
    var containers = document.querySelectorAll('.about-item');
    containers.forEach(container => {
      var tooltip = container.querySelector('.tooltip');
      container.addEventListener('mousemove', function(e) {
        var rect = container.getBoundingClientRect();
        var x = e.clientX - rect.left;
        var y = e.clientY - rect.top;
        tooltip.style.left = x + 'px';
        tooltip.style.top = y + 'px';
      });
    });
  });
})();
{% endjavascript %}