<section class="twcss-relative twcss-flex twcss-items-center twcss-justify-center twcss-bg-black twcss-aspect-[1.8/1]">
  <img src="{{ 'bg-como-funcionamos.jpg' | asset_url }}" width="1280" height="1280" class="twcss-w-1/2 twcss-h-full twcss-absolute twcss-inset-y-0 twcss-right-0 twcss-object-cover twcss-object-center"/>
  <div class="twcss-w-10/12 twcss-max-w-[1120px] twcss-mx-auto">
    <div class="twcss-grid twcss-grid-cols-12">
      <div class="twcss-col-span-5 twcss-space-y-8">
        <h2 class="twcss-font-bebasneue twcss-uppercase twcss-text-[64px] twcss-leading-none twcss-text-white w-8/12">¿Cómo funcionamos?</h2>
        <div class="twcss-text-white">
          <p>
            Nuestros productos son únicos. Cada uno requirió de nuestra imaginación y creatividad para hacerlos realidad.
          </p>
          <p>
            *Tarareo Store te permite adquirir los productos y experiencias que no encontrarás en ningún otro lado.
          </p>
        </div>
        <div class="twcss-flex twcss-items-center twcss-justify-start twcss-space-x-4">
          <a class="twcss-flex twcss-items-center twcss-space-x-2 twcss-border twcss-border-white twcss-rounded-l-full twcss-rounded-r-full twcss-text-white twcss-uppercase twcss-px-8 twcss-py-2 twcss-relative twcss-z-10">
            <span>Diseño de línea</span>
          </a>
          <a class="twcss-flex twcss-items-center twcss-space-x-2 twcss-border twcss-border-white twcss-rounded-l-full twcss-rounded-r-full twcss-text-white twcss-uppercase twcss-px-8 twcss-py-2 twcss-relative twcss-z-10">
            <span>Diseño personalizado</span>
          </a>
        </div>

      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "como-funcionamos",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [],
    "presets": [
      {
        "name": "como-funcionamos"
      }
    ]
  }
{% endschema %}