<section class="twcss-relative twcss-flex twcss-flex-col twcss-items-center twcss-justify-center twcss-w-full twcss-max-h-screen lg:twcss-aspect-[1.8/1] twcss-bg-black">
  <img src="{{ 'bg-como-funcionamos.jpg' | asset_url }}" width="1280" height="1280" class="twcss-relative lg:twcss-absolute lg:twcss-w-1/2 lg:twcss-h-full lg:twcss-inset-y-0 lg:twcss-right-0 twcss-object-cover twcss-object-center"/>
  <div class="twcss-w-11/12 lg:twcss-w-10/12 twcss-max-w-[1120px] twcss-mx-auto twcss-py-16 lg:twcss-py-0">
    <div class="lg:twcss-grid lg:twcss-grid-cols-12">
      <div class="lg:twcss-col-span-5 twcss-space-y-8">
        <h2 class="twcss-font-bebasneue twcss-uppercase twcss-text-[64px] twcss-leading-none twcss-text-white w-8/12">¿Cómo funcionamos?</h2>
        <div class="twcss-text-white">
          {{ section.settings.content}}
        </div>
        <div class="twcss-flex twcss-flex-col md:twcss-flex-row twcss-items-start twcss-space-y-4 md:twcss-space-y-0 md:twcss-space-x-4 twcss-whitespace-nowrap">
          <a href="#diseno-de-linea" class="scroll-to twcss-flex twcss-items-center twcss-space-x-2 twcss-border twcss-border-white twcss-rounded-l-full twcss-rounded-r-full twcss-text-white twcss-uppercase twcss-px-8 twcss-py-2 twcss-relative twcss-z-10">
            <span>Diseño de línea</span>
          </a>
          <a href="#diseno-personalizado" class="scroll-to twcss-flex twcss-items-center twcss-space-x-2 twcss-border twcss-border-white twcss-rounded-l-full twcss-rounded-r-full twcss-text-white twcss-uppercase twcss-px-8 twcss-py-2 twcss-relative twcss-z-10">
            <span>Diseño personalizado</span>
          </a>
        </div>

      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "¿Cómo funcionamos?",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      }
    ]
  }
{% endschema %}
{% javascript %} 
(function () {
  document.addEventListener('DOMContentLoaded', function() {
    const links = document.querySelectorAll('a[href^="#"]');
    for (const link of links) {
        link.addEventListener('click', function(event) {
          event.preventDefault();
          const targetId = this.getAttribute('href');
          const targetElement = document.querySelector(targetId);
          if (targetElement) {
            window.scrollTo({
              top: targetElement.offsetTop,
              behavior: 'smooth'
            });
          }
        });
      }
    });
  
})();


 {% endjavascript %}