<section class="twcss-flex twcss-items-center twcss-justify-center twcss-overflow-hidden twcss-h-full {% if section.settings.schema == 'black' %} twcss-bg-black{% endif %}">
  <div class="twcss-w-10/12 twcss-max-w-[1120px] twcss-mx-auto twcss-pt-24">
    <div class="twcss-grid lg:twcss-grid-cols-2 twcss-items-center twcss-gap-12">
      <div>
        {{ section.settings.image | image_url: width: 980 | image_tag: class: "twcss-block twcss-h-full" }}
      </div>
      <div class="{% if section.settings.schema == 'black' %} twcss-text-white{% else %} twcss-text-black{% endif %} twcss-text-right">
        <h2 class="twcss-font-bebasneue twcss-uppercase twcss-text-[36px] lg:twcss-text-[64px] twcss-leading-none {% if section.settings.schema == 'black' %} twcss-text-white{% else %} twcss-text-black{% endif %} w-8/12">{{ section.settings.title }}</h2>
        <h2 class="twcss-font-bebasneue twcss-uppercase twcss-text-[36px] lg:twcss-text-[64px] twcss-leading-none {% if section.settings.schema == 'black' %} twcss-text-white{% else %} twcss-text-black{% endif %} w-8/12">{{ section.settings.subtitle }}</h2>
        {{ section.settings.content }}
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Image | Text",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "select",
        "id": "schema",
        "options": [
          {
            "value": "black",
            "label": "Black"
          },
          {
            "value": "white",
            "label": "White"
          }
        ],
        "default": "black",
        "label": "Background Color"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ]
  }
{% endschema %}
