<div class="twcss-flex twcss-flex-nowrap twcss-animate-marquee">
  <span class="twcss-flex twcss-justify-around twcss-basis-screen twcss-shrink-0">
    <span class="marquee-item twcss-text-black twcss-text-5xl lg:twcss-text-7xl twcss-uppercase twcss-text-nowrap twcss-space-x-3 twcss-px-2 twcss-py-12">
      {% for block in section.blocks %}
      <span class="twcss-font-{{ block.settings.fontfamily }}{% if block.settings.italic %} twcss-italic{% endif %}">{{ block.settings.text }}</span>
      {% endfor %}
    </span>
  </span>
</div> 
{% schema %}
  {
    "name": "Marquee",
    "tag": "section",
    "class": "twcss-overflow-hidden twcss-w-screen",
    "disabled_on": {
      "groups": ["header"]
    },
    "blocks": [
      {
        "name": "Title",
        "type": "text",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text span"
          },
          {
            "type": "select",
            "id": "fontfamily",
            "options": [
              {
                "value": "minionpro",
                "label": "Minion Pro"
              },
              {
                "value": "novecento",
                "label": "Novecento"
              }
            ],
            "default": "minionpro",
            "label": "Font Family"
          },
          {
            "type": "checkbox",
            "id": "italic",
            "label": "Italics",
            "default": false
          }
        ]
      }
    ]
  }
{% endschema %}
{% comment %}
(function () {
  document.addEventListener('DOMContentLoaded', function() {
    const marquees = document.querySelectorAll('.marquee-item');
    marquees.forEach(marqueeString => {
      const marqueeContainer = marqueeString.parentNode;
      const viewportWidth = window.innerWidth;
      const stringWidth = marqueeString.offsetWidth;
      let repeatCount = Math.floor(viewportWidth / stringWidth);
      if (repeatCount <= 1) {
        repeatCount = Math.floor((viewportWidth * 2) / stringWidth);
        marqueeContainer.classList.remove('twcss-basis-screen');
        marqueeContainer.classList.add('twcss-basis-screen2x');
      }
      for (let i = 1; i < repeatCount; i++) {
        const clone = marqueeString.cloneNode(true);
        marqueeContainer.appendChild(clone);
      }
      const marqueeContainerClone = marqueeContainer.cloneNode(true);
      marqueeContainer.parentNode.appendChild(marqueeContainerClone);
    });
  });
})();
{% endcomment %}