<section class="twcss-relative twcss-flex twcss-items-center twcss-justify-center twcss-w-full twcss-overflow-hidden twcss-bg-black twcss-h-screen">
  {%- if section.settings.video %}{{ section.settings.video | video_tag: autoplay: false, loop: false, muted: true, controls: false, id: "simple-video", class: "twcss-absolute max-lg:twcss-min-w-full twcss-min-h-full twcss-max-w-none twcss-pointer-events-none" }}{%- endif -%}
  <div class="twcss-relative">
    <button id="play-pause" class="twcss-w-12 twcss-h-12 twcss-flex twcss-justify-center twcss-items-center paused">
      <svg width="32" height="32" viewBox="0 0 512 512" class="twcss-absolute twcss-transition-opacity twcss-duration-150 play"><path fill="#ffffff" d="M0 0v512l512-256z"/></svg>
      <svg width="32" height="32" viewBox="0 0 512 512" class="twcss-absolute twcss-transition-opacity twcss-duration-150 pause"><path fill="#ffffff" d="M0 512h162.9V0H0zM349.1 0v512H512V0z"/></svg>
    </button>
    {% if section.settings.cta and section.settings.cta_url %}
    <a href="{{ section.settings.cta_url }}" class="twcss-absolute twcss-flex twcss-items-center twcss-space-x-2 twcss-bg-[#FFE500] twcss-text-black twcss-rounded-l-full twcss-rounded-r-full twcss-text-4xl twcss-font-bebasneue twcss-uppercase twcss-px-8 twcss-z-1 twcss-translate-y-1/2 -twcss-translate-x-1/2 twcss-left-1/2 twcss-bottom-0 twcss-z-10">
      <span class="twcss-block twcss-pt-3 twcss-pb-2 twcss-whitespace-nowrap">{{ section.settings.cta }}</span>
      <svg width="31" height="24" viewBox="0 0 31 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.29 0.751953L17.1258 2.06897L27.3661 11.1211L0.5 11.1211L0.5 12.8789L27.3661 12.8789L17.1258 21.931L18.29 23.248L30.5 12.4547V11.5452L18.29 0.751953Z" fill="black"/>
      </svg>
    </a>
    {% endif %}
  </div>
</section>
{% schema %}
  {
    "name": "Hero",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "video",
        "id": "video",
        "label": "Hero video"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA URL"
      },
      {
        "type": "text",
        "id": "cta",
        "label": "CTA"
      }
    ]
  }
{% endschema %}
{% style %}
  #play-pause.paused .pause, #play-pause.playing .play { opacity: 0; }
{% endstyle %}
{% javascript %}
  (function () {
    document.addEventListener('DOMContentLoaded', function() {
      const media = document.querySelector('#simple-video');
      const playPause = document.querySelector('#play-pause');
      playPause.addEventListener('click', playPauseMedia);
      function playPauseMedia() {
        if (media.paused) {
          playPause.classList.replace("paused", "playing");
          media.play();
        } else {
          playPause.classList.replace("playing", "paused");
          media.pause();
        }
      }
    });
  })();
  {% endjavascript %}