<section class="twcss-flex twcss-items-center twcss-justify-center twcss-overflow-hidden twcss-h-full ">
  <div class="twcss-w-10/12 twcss-max-w-[1120px] twcss-mx-auto twcss-pt-24">
    <div class="twcss-grid lg:twcss-grid-cols-2 twcss-items-center twcss-gap-12">
      <div>
        <img src="{{ 'sinergia.png' | asset_url }}" width="571" height="399" class=" twcss-block twcss-h-full"/>
      </div>
      <div class="twcss-text-black twcss-text-right">
        <h2 class="twcss-font-bebasneue twcss-uppercase twcss-text-[36px] lg:twcss-text-[64px] twcss-leading-none twcss-text-black w-8/12">No tienes tanto tiempo...</h2>
        <h2 class="twcss-font-bebasneue twcss-uppercase twcss-text-[36px] lg:twcss-text-[64px] twcss-leading-none twcss-text-black w-8/12">We got you</h2>
        <p>Creamos tarareo store para que puedas tener nuestros productos (hechos con el mismo amor e intelecto) pero en un lapso de tiempo más corto de lo habitual, los productos de línea son diseños previamente desarrollados que tenemos en stock esperando que los personalicemos para ti.</p>
      </div>
    </div>
  </div>
  </section>
  <section class="twcss-overflow-hidden twcss-w-screen">
    <div class="twcss-flex twcss-flex-nowrap twcss-animate-marquee">
      <span class="twcss-flex twcss-justify-around twcss-basis-screen twcss-shrink-0">
        <span class="marquee-item twcss-text-black twcss-text-5xl lg:twcss-text-7xl twcss-uppercase twcss-text-nowrap twcss-space-x-3 twcss-px-2 twcss-py-12">
          <span class="twcss-font-minionpro">Get people</span>
          <span class="twcss-font-novecento">talking</span>
          <span class="twcss-font-minionpro">about your</span>
          <span class="twcss-font-novecento">brand</span>
        </span>
      </span>
    </div>
  </section>
{% schema %}
{
  "name": "tienda-hero",
  "class": "section"
}
{% endschema %}
