@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-navigation-color: #ffe500;
}

.text-shadow {
  color: #000000;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  &:hover {
    color: #ffe500;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
  }
}
